@import '../../variables';

.custom-tooltip-wrapper {
    padding: 5px;
    background-color: rgba(15, 15, 15, 0.95);
    border-radius: 15px;
}

.custom-tooltip {
    background-color: transparent;
    border: 2px solid $sb-blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.custom-tooltip-label {
    margin-bottom: 15px;
}

.tooltip-data {
    margin: 1px;
}